.login {
    width: 100vw;
    height: 70vh;
    background-color: #f2f6ff;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.rightContent h2 {
    font-weight: 600;
}
.rightContent input {
    font-weight: 600;
}

.rightContent {
    width: 90%;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
    text-align: center;
    padding: 50px 20px;
    background-color: #fff;
    border-radius: 25px;
    max-width: 338px;
    box-sizing: border-box;
}
.rightContent h2 {
    font-size: 28px;

}
.rightContent form {
    height: 50%;
}
.rightContent input {
    box-sizing: border-box;
    margin:30px 0;
    width: 80%;
}
.rightContent input[type="email"] , .rightContent input[type="text"] , .rightContent input[type="password"] {
    border: 1px solid #1f1f47;
    border-radius: 25px;
    padding-left: 20px;
}
.rightContent input[type="button"] {
    border-radius: 15px;
    border: none;
    color: white;
    background-color: #1f1f47;
    width: 65%;
}